@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-exec: #1d9e75;
  --color-infl: #ef9f27;
  --color-rel: #d4537e;
  --color-strat: #7f77dd;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-stone-50 text-stone-900 antialiased dark:bg-stone-950 dark:text-stone-100;
}
